openapi: 3.0.0
info:
  title: 軟體開發方法-第五組 noteflow
  description: 詳情請查閱 [github](https://github.com/vnaticzhock/noteflow-backend)
  version: 0.1
servers:
  - url: http://localhost/
    description: main server


paths:
  /:
    get:
      summary: 首頁
      description: 首頁

  /api/user:
    get:
      summary: get user's JWT
      tags:
        - user
    put:
      summary: 更新使用者資訊
      tags:
        - user


  /api/user/login:
    get:
      summary: 登入畫面
      description: 登入畫面
      tags:
        - user
      responses:
        '200':    # status code
          description: A JSON array of user names
          content:
            application/json:
              schema: 
                type: json
                items: 
                  type: string
    post:
      summary: 登入
      description: 登入
      tags:
        - user
      responses:
        '200':    # status code
          description: A JSON array of user names
          content:
            application/json:
              schema: 
                type: json
                items: 
                  type: string
  
      
  /api/user/logout:
    post:
      summary: 登出
      description: 登出
      tags:
        - user
      responses:
        '200':    # status code
          description: A JSON array of user names
          content:
            application/json:
              schema: 
                type: json
                items: 
                  type: string